.ProductList-main{
    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.card-shop{
    background-color: orange;
    padding: 2%;
    color : #804000 ;
    text-align: center;
}

.Products-main{
    background-color:antiquewhite
}

.card-cart-btn{
    float: right;
    margin-top: 10px;
    /* background-color: brown;
    color: white; */
    /* outline: black; */
}

.product-card-details{
    margin-top: 15px;
    font-weight:bolder;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
    background-color: oldlace;
    color: black;
}