
  .App{
    background-color:antiquewhite;
  }

  .content{
    position: relative;
    height: 100vh;
  }

  table{
    width: 100%;
  }
  /* table  td{
    text-align: center;
  }
  table  th{
    text-align: center;
  } */



